div, ul, li, p, body, h1, h2 {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  clear: both; }

.none {
  line-height: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: "OpenSansRegular", sans-serif;
  background: #000;
  font-size: 13px; }

body {
  font-family: sans-serif;
  font-size: 13px;
  color: #000; }

.wrapper {
  width: 100%;
  background-color: #F3F3F3; }

.header {
  width: 80%;
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
  background-color: #F3F3F3; }
  @media only screen and (max-width: 479px) {
    .header {
      width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .header {
      width: 100%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .header {
      width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .header {
      width: 100%; } }

.logo {
  width: 220px;
  float: left; }
  .logo img {
    max-width: 100%; }
  @media only screen and (max-width: 479px) {
    .logo {
      width: 100%;
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .logo {
      max-width: 220px;
      width: calc(100% - 20px);
      margin: 10px; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .logo {
      max-width: 220px;
      width: calc(100% - 20px);
      margin: 10px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .logo {
      max-width: 220px;
      width: calc(100% - 20px);
      margin: 10px; } }

.language_search {
  width: 280px;
  float: right;
  padding: 13px 0; }
  @media only screen and (max-width: 479px) {
    .language_search {
      width: 100%;
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .language_search {
      max-width: 160px;
      width: calc(100% - 20px);
      margin: 10px; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .language_search {
      max-width: 160px;
      width: calc(100% - 20px);
      margin: 10px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .language_search {
      margin: 10px; } }

@media only screen and (max-width: 479px) {
  .language_menu {
    display: none; } }

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .language_menu {
    display: none; } }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .language_menu {
    display: none; } }

.search {
  width: 150px;
  position: relative;
  float: right; }
  @media only screen and (max-width: 479px) {
    .search {
      width: 80%;
      margin: 0 auto;
      float: none; } }

.wrap_search {
  border: 1px solid #B5B5B5;
  background-color: #fff;
  border-radius: 3px;
  -wedkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px; }

.search_input {
  margin: 0 auto;
  width: 83%;
  padding: 3px 0px 3px 5px;
  border: none;
  background-color: #fff;
  border-radius: 3px;
  -wedkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  outline: none; }
  @media only screen and (max-width: 479px) {
    .search_input {
      width: 90%;
      padding: 7px 0px 7px 5px; } }

.search_input::-moz-placeholder {
  color: #CFCFCF; }

.search_input::-webkit-input-placeholder {
  color: #CFCFCF; }

.search_input:-moz-placeholder {
  color: #CFCFCF; }

.search_input:-ms-input-placeholder {
  color: #CFCFCF; }

.search_input:focus::-webkit-input-placeholder {
  color: transparent; }

.search_input:focus::-moz-placeholder {
  color: transparent; }

.search_input:focus:-moz-placeholder {
  color: transparent; }

.search_input:focus:-ms-input-placeholder {
  color: transparent; }

.btn_search {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 2px;
  background: url(../img/search.png) no-repeat;
  background-size: cover;
  cursor: pointer; }
  @media only screen and (max-width: 479px) {
    .btn_search {
      width: 30px;
      height: 30px;
      top: 1px;
      right: 5px; } }

ul.language_menu > li {
  float: left;
  position: relative;
  border: 1px solid #F3F3F3; }

ul.language_menu > li > a {
  padding: 4px 10px;
  display: block;
  width: 100px;
  color: #000;
  text-align: center; }

ul.language_menu > li > a:hover {
  background-color: #fff; }

ul.language_menu > li > a img {
  width: 17px;
  height: 17px;
  float: left;
  position: absolute;
  left: 5px;
  top: 3px; }

ul.language_menu > li > a span {
  float: right;
  font-size: 10px;
  line-height: 18px;
  color: #aaa;
  position: absolute;
  right: 5px;
  top: 3px; }

ul.language_submenu {
  display: none;
  position: absolute;
  width: 120px;
  top: 22px;
  left: -1px;
  background-color: white;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  z-index: 99; }

ul.language_submenu > li {
  display: block; }

ul.language_submenu > li > a {
  display: block;
  padding: 5px 10px;
  color: #000;
  text-align: center; }

ul.language_menu > li:hover > ul.language_submenu {
  display: block; }

ul.language_menu > li > a:hover, ul.language_submenu > li > a:hover {
  color: orange; }

ul.language_menu > li:hover {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  background-color: white; }

.top_menu {
  width: 80%;
  max-width: 1440px;
  z-index: 1000;
  margin: 0 auto;
  background-color: #F3F3F3; }
  @media only screen and (max-width: 479px) {
    .top_menu {
      width: 100%;
      width: calc(100% - 20px);
      margin: 10px; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .top_menu {
      width: 100%;
      width: calc(100% - 20px);
      margin: 10px; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .top_menu {
      width: 100%;
      width: calc(100% - 20px);
      margin: 10px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .top_menu {
      width: 100%;
      width: calc(100% - 20px);
      margin: 10px; } }

.menu {
  background-color: #F3F3F3;
  float: right;
  z-index: 2000;
  padding-bottom: 1px; }
  @media only screen and (max-width: 479px) {
    .menu {
      float: none; } }

.top_menu .menu .menu_list {
  display: block;
  float: right; }
  @media only screen and (max-width: 479px) {
    .top_menu .menu .menu_list {
      float: none; } }

.top_menu .menu .menu_list > li {
  float: left;
  position: relative; }
  @media only screen and (max-width: 479px) {
    .top_menu .menu .menu_list > li {
      float: none; } }

.menu .menu_list > span {
  float: left;
  display: block;
  width: 1px;
  height: 15px;
  margin-top: 6px;
  background-color: white; }
  @media only screen and (max-width: 479px) {
    .menu .menu_list > span {
      display: none; } }

.top_menu .menu .menu_list > li#sub2:hover a + div,
.top_menu .menu .menu_list > li#sub3:hover a + div,
.top_menu .menu .menu_list > li#sub4:hover a + div,
.top_menu .menu .menu_list > li#sub6:hover a + div,
.top_menu .menu .menu_list > li#sub8:hover a + div {
  display: block; }
  @media only screen and (max-width: 479px) {
    .top_menu .menu .menu_list > li#sub2:hover a + div,
    .top_menu .menu .menu_list > li#sub3:hover a + div,
    .top_menu .menu .menu_list > li#sub4:hover a + div,
    .top_menu .menu .menu_list > li#sub6:hover a + div,
    .top_menu .menu .menu_list > li#sub8:hover a + div {
      display: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    .top_menu .menu .menu_list > li#sub2:hover a + div,
    .top_menu .menu .menu_list > li#sub3:hover a + div,
    .top_menu .menu .menu_list > li#sub4:hover a + div,
    .top_menu .menu .menu_list > li#sub6:hover a + div,
    .top_menu .menu .menu_list > li#sub8:hover a + div {
      display: none; } }
  @media only screen and (min-width: 530px) and (max-width: 591px) {
    .top_menu .menu .menu_list > li#sub2:hover a + div,
    .top_menu .menu .menu_list > li#sub3:hover a + div,
    .top_menu .menu .menu_list > li#sub4:hover a + div,
    .top_menu .menu .menu_list > li#sub6:hover a + div,
    .top_menu .menu .menu_list > li#sub8:hover a + div {
      display: none; } }

#sub9, #sub10, #sub11, #sub12 {
  display: none; }

#sub9 > div {
  margin-left: -66px;
  color: red; }

#sub9 > a > div {
  font-weight: 800; }

#sub2 > div {
  margin-left: -30px; }
  @media only screen and (min-width: 592px) and (max-width: 630px) {
    #sub2 > div {
      margin-left: 0; } }

.top_menu .menu .menu_list > li:hover {
  background-color: #e8e8e8; }

.top_menu .menu .menu_list > li > div {
  background-color: #CFCFCF;
  -webkit-box-shadow: rgba(156, 156, 156, 0.7) 0px 2px 7px;
          box-shadow: rgba(156, 156, 156, 0.7) 0px 2px 7px;
  position: absolute;
  z-index: 2000;
  display: none; }

.top_menu .menu .menu_list > li:hover a + div {
  display: block; }
  @media only screen and (max-width: 479px) {
    .top_menu .menu .menu_list > li:hover a + div {
      display: none; } }

.top_menu .menu .menu_list > li a + div > ul > li > a {
  color: rgba(255, 255, 255, 0.9);
  display: block;
  padding: 5px 27px; }

.top_menu .menu .menu_list > li a + div > ul > li:hover > a {
  background-color: rgba(0, 0, 0, 0.15); }

.top_menu .menu .menu_list > li > a {
  display: inline-block;
  font-weight: 200;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
  font-size: 12px;
  color: #4F4F4F;
  border-bottom: 2px solid #F3F3F3; }
  @media only screen and (max-width: 479px) {
    .top_menu .menu .menu_list > li > a {
      display: block;
      padding: 8px 10px;
      border: none; } }
  @media only screen and (min-width: 592px) and (max-width: 630px) {
    .top_menu .menu .menu_list > li > a {
      padding: 8px 9px; } }

.top_menu .menu .menu_list > li > a:hover {
  color: orange;
  border-bottom: 2px solid #e8e8e8; }
  @media only screen and (max-width: 479px) {
    .top_menu .menu .menu_list > li > a:hover {
      border: none; } }

.top_menu .menu .menu_list .active > a {
  border-bottom: 2px solid red; }
  @media only screen and (max-width: 479px) {
    .top_menu .menu .menu_list .active > a {
      border: none; } }

#sub3, #sub3 + span {
  display: block; }
  @media only screen and (max-width: 479px) {
    #sub3, #sub3 + span {
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    #sub3, #sub3 + span {
      display: none; } }
  @media only screen and (min-width: 530px) and (max-width: 591px) {
    #sub3, #sub3 + span {
      display: none; } }
  @media only screen and (min-width: 592px) and (max-width: 630px) {
    #sub3, #sub3 + span {
      display: none; } }

#sub9, #sub10 {
  display: none; }
  @media only screen and (max-width: 479px) {
    #sub9, #sub10 {
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    #sub9, #sub10 {
      display: block; } }
  @media only screen and (min-width: 530px) and (max-width: 591px) {
    #sub9, #sub10 {
      display: block; } }
  @media only screen and (min-width: 592px) and (max-width: 630px) {
    #sub9, #sub10 {
      display: block; } }

#sub5, #sub5 + span {
  display: block; }
  @media only screen and (max-width: 479px) {
    #sub5, #sub5 + span {
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    #sub5, #sub5 + span {
      display: none; } }
  @media only screen and (min-width: 530px) and (max-width: 591px) {
    #sub5, #sub5 + span {
      display: none; } }

#sub11 {
  display: none; }
  @media only screen and (max-width: 479px) {
    #sub11 {
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    #sub11 {
      display: block; } }
  @media only screen and (min-width: 530px) and (max-width: 591px) {
    #sub11 {
      display: block; } }

#sub7, #sub7 + span {
  display: block; }
  @media only screen and (max-width: 479px) {
    #sub7, #sub7 + span {
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    #sub7, #sub7 + span {
      display: none; } }

#sub12 {
  display: none; }
  @media only screen and (max-width: 479px) {
    #sub12 {
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    #sub12 {
      display: block; } }

@media only screen and (max-width: 479px) {
  #sub1 + span, #sub2 + span, #sub3 + span, #sub4 + span, #sub5 + span, #sub6 + span, #sub7 + span {
    display: none; } }

.wrapper_car {
  width: 555px; }
  @media only screen and (min-width: 592px) and (max-width: 630px) {
    .wrapper_car {
      width: 505px; } }

.wrapper_car ul.tabs {
  line-height: 25px;
  width: 160px;
  float: left; }
  @media only screen and (min-width: 592px) and (max-width: 630px) {
    .wrapper_car ul.tabs {
      width: 110px; } }

.wrapper_car > div {
  float: left; }

.tabs li {
  cursor: pointer;
  display: block;
  padding: 8px;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#E8E8E8), to(#fff));
  background: linear-gradient(to top, #E8E8E8, #fff);
  z-index: 10; }

.tabs li span {
  color: #E8E8E8;
  position: absolute;
  top: 7px;
  right: -11px;
  display: none; }

.menu .tabs > span {
  float: left;
  display: block;
  width: 1px;
  height: 20px;
  margin-top: 3px;
  background-color: #fff; }

.tabs .tab_active > span {
  display: block; }

.tabs li a {
  color: #aaa;
  cursor: pointer; }

.tabs li.tab_active a {
  color: #F70; }

div#t2,
div#t3 {
  display: none; }

.wrapper_car div#t1,
.wrapper_car div#t2,
.wrapper_car div#t3 {
  background: #F3F3F3;
  padding: 20px;
  width: 354px; }

.grade {
  float: left;
  margin: 1px;
  -webkit-box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 7px;
          box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 7px; }

.grade:hover {
  -webkit-box-shadow: rgba(156, 156, 156, 0.7) 0px 0px 7px;
          box-shadow: rgba(156, 156, 156, 0.7) 0px 0px 7px; }

.wrapper_car div img {
  height: 100px;
  width: 175px;
  margin-top: 10px; }

div#t1 a,
div#t2 a,
div#t3 a {
  color: #4F4F4F;
  font-size: 12px; }

div#t1 a:hover,
div#t2 a:hover,
div#t3 a:hover {
  color: orange; }

.title h2 {
  color: #CD2626; }

.title {
  margin: 10px; }

.wrapper_content {
  width: 100%;
  margin: 0 auto;
  background-color: #F3F3F3; }
  @media only screen and (max-width: 479px) {
    .wrapper_content {
      width: 98%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .wrapper_content {
      width: 98%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .wrapper_content {
      width: 98%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .wrapper_content {
      width: 98%; } }

.head_content {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #E8E8E8; }
  @media only screen and (max-width: 479px) {
    .head_content {
      width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .head_content {
      width: 100%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .head_content {
      width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .head_content {
      width: 100%; } }

.path {
  padding-left: 10px; }

.path li {
  display: inline-block;
  background-color: #F3F3F3;
  padding: 6px 5px; }

.path li a {
  font-size: 11px;
  color: #828282; }

.path .place a {
  color: orange; }

.path li a:hover {
  color: blue; }

.content {
  width: 80%;
  margin: 0 auto;
  background-color: #F3F3F3;
  border: 1px solid rgba(221, 221, 221, 0.7); }
  @media only screen and (max-width: 479px) {
    .content {
      width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .content {
      width: 100%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .content {
      width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .content {
      width: 100%; } }

.unit_car {
  width: 90%;
  background-color: #fff;
  margin: 15px auto;
  padding: 30px;
  border: 1px solid #aaa;
  -webkit-box-shadow: rgba(156, 156, 156, 0.6) 0px 0px 10px;
          box-shadow: rgba(156, 156, 156, 0.6) 0px 0px 10px; }
  @media only screen and (max-width: 479px) {
    .unit_car {
      padding: 10px; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .unit_car {
      padding: 10px; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .unit_car {
      padding: 10px; } }

.unit_car img {
  float: left;
  max-width: 450px; }
  @media only screen and (max-width: 479px) {
    .unit_car img {
      float: none;
      width: 100%;
      max-width: 650px; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .unit_car img {
      float: none;
      width: 100%;
      max-width: 650px; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .unit_car img {
      float: none;
      width: 100%;
      max-width: 650px; } }

.title_unit {
  float: left;
  padding-top: 20px;
  padding-left: 50px; }
  @media only screen and (max-width: 479px) {
    .title_unit {
      float: none;
      padding-left: 0; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .title_unit {
      float: none;
      padding-left: 0; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .title_unit {
      float: none;
      padding-left: 0; } }

@media only screen and (max-width: 479px) {
  .title_unit h2 {
    padding-left: 20px; } }

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .title_unit h2 {
    padding-left: 20px; } }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .title_unit h2 {
    padding-left: 20px; } }

.title_unit > ul {
  padding-top: 20px;
  padding-bottom: 20px; }

@media only screen and (max-width: 479px) {
  .title_unit > ul > li {
    display: block; } }

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .title_unit > ul > li {
    display: block; } }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .title_unit > ul > li {
    display: block; } }

.title_unit h2 {
  color: #CD2626; }

.title_unit a {
  border: 1px solid #aaa;
  padding: 4px 1px 4px 10px;
  width: 130px;
  display: block;
  margin: 10px 20px;
  border-radius: 3px;
  -wedkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px; }

.title_unit a span {
  padding: 3px 10px;
  margin-left: 10px;
  background: url(../img/more.png) no-repeat;
  background-size: 100% 100%; }

.title_unit a:hover {
  background-color: #E8E8E8; }

/*big car*/
.header_unit_big {
  width: 80%;
  margin: 1px auto; }
  @media only screen and (max-width: 479px) {
    .header_unit_big {
      width: 98%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .header_unit_big {
      width: 98%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .header_unit_big {
      width: 98%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .header_unit_big {
      width: 98%; } }

.header_unit_big img {
  width: 100%; }

/*fix title*/
.menu_unit_big {
  display: block;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 479px) {
    .menu_unit_big {
      width: 100%;
      left: 0; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .menu_unit_big {
      width: 100%;
      left: 0; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .menu_unit_big {
      width: 100%;
      left: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .menu_unit_big {
      width: 100%;
      left: 0; } }

.menu_unit_big li {
  float: left;
  position: relative;
  z-index: 100; }
  @media only screen and (max-width: 479px) {
    .menu_unit_big li {
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    .menu_unit_big li {
      float: none; } }
  @media only screen and (min-width: 530px) and (max-width: 591px) {
    .menu_unit_big li {
      float: none; } }
  @media only screen and (min-width: 592px) and (max-width: 630px) {
    .menu_unit_big li {
      float: none; } }

.menu_unit_big li:first-child {
  background: -webkit-gradient(linear, left bottom, left top, from(#CFCFCF), to(#fff));
  background: linear-gradient(to top, #CFCFCF, #fff); }

.menu_unit_big span {
  float: left;
  display: block;
  width: 1px;
  height: 40px;
  margin-top: 5px;
  background-color: #fff; }
  @media only screen and (max-width: 479px) {
    .menu_unit_big span {
      float: none;
      display: none; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    .menu_unit_big span {
      float: none;
      display: none; } }
  @media only screen and (min-width: 530px) and (max-width: 591px) {
    .menu_unit_big span {
      float: none;
      display: none; } }
  @media only screen and (min-width: 592px) and (max-width: 630px) {
    .menu_unit_big span {
      float: none;
      display: none; } }

.menu_unit_big li:first-child {
  margin-left: 0; }

.menu_unit_big li:hover {
  background-color: #CFCFCF; }

.menu_unit_big li a {
  display: block;
  padding: 10px 13px;
  line-height: 32px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #696969; }
  @media only screen and (max-width: 479px) {
    .menu_unit_big li a {
      padding: 10px 13px;
      font-size: 14px; } }
  @media only screen and (min-width: 480px) and (max-width: 529px) {
    .menu_unit_big li a {
      padding: 10px 13px;
      font-size: 14px; } }
  @media only screen and (min-width: 631px) and (max-width: 767px) {
    .menu_unit_big li a {
      padding: 4px;
      font-size: 12px; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .menu_unit_big li a {
      padding: 8px; } }

.menu_unit_big li:hover > a {
  color: #000; }

/*extra of model*/
.content_unit_big {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 479px) {
    .content_unit_big {
      width: 98%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .content_unit_big {
      width: 98%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .content_unit_big {
      width: 98%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .content_unit_big {
      width: 98%; } }

.content_unit_big h2 {
  padding: 20px 0;
  border-bottom: 1px solid #aaa; }

.unit_big_info {
  margin: 30px auto; }
  @media only screen and (max-width: 479px) {
    .unit_big_info {
      padding-bottom: 15px;
      border-bottom: 1px solid #aaa; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .unit_big_info {
      padding-bottom: 15px;
      border-bottom: 1px solid #aaa; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .unit_big_info {
      padding-bottom: 15px;
      border-bottom: 1px solid #aaa; } }

.unit_big_info:nth-child(2) img, .unit_big_info:nth-child(4) img {
  float: left; }
  @media only screen and (max-width: 479px) {
    .unit_big_info:nth-child(2) img, .unit_big_info:nth-child(4) img {
      margin-bottom: 15px; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .unit_big_info:nth-child(2) img, .unit_big_info:nth-child(4) img {
      margin-bottom: 15px; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .unit_big_info:nth-child(2) img, .unit_big_info:nth-child(4) img {
      margin-bottom: 15px; } }

.unit_big_info img {
  width: 60%; }
  @media only screen and (max-width: 479px) {
    .unit_big_info img {
      width: 100%;
      float: none; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .unit_big_info img {
      width: 100%;
      float: none; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .unit_big_info img {
      width: 100%;
      float: none; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .unit_big_info img {
      width: 50%; } }

.unit_big_info .view_option {
  width: 40%;
  float: left;
  padding: 0 20px;
  width: calc(40% - 40px); }
  @media only screen and (max-width: 479px) {
    .unit_big_info .view_option {
      width: 100%;
      float: none;
      padding: 0; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .unit_big_info .view_option {
      width: 100%;
      float: none;
      padding: 0; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .unit_big_info .view_option {
      width: 100%;
      float: none;
      padding: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .unit_big_info .view_option {
      width: 50%;
      float: left;
      padding: 0 20px;
      width: calc(50% - 40px); } }

@media only screen and (max-width: 479px) {
  .unit_big_info .view_option h1 {
    margin-top: 15px; } }

@media only screen and (min-width: 480px) and (max-width: 599px) {
  .unit_big_info .view_option h1 {
    margin-top: 15px; } }

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .unit_big_info .view_option h1 {
    margin-top: 15px; } }

.unit_big_info .view_option p {
  margin-top: 15px;
  font-size: 13px;
  line-height: 20px;
  text-align: justify; }

/*options*/
.extra {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 479px) {
    .extra {
      width: 98%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .extra {
      width: 98%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .extra {
      width: 98%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .extra {
      width: 98%; } }

.unit_extra {
  width: 31.3%;
  margin: 10px 1%;
  float: left; }
  @media only screen and (max-width: 479px) {
    .unit_extra {
      width: 98%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .unit_extra {
      width: 98%; } }
  @media only screen and (min-width: 631px) and (max-width: 767px) {
    .unit_extra {
      width: 48%;
      height: 220px; } }

.unit_extra img {
  width: 100%;
  -webkit-box-shadow: rgba(156, 156, 156, 0.6) 0px 0px 10px;
          box-shadow: rgba(156, 156, 156, 0.6) 0px 0px 10px; }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .unit_extra img {
      width: 98%;
      border: 1px solid #aaa;
      padding: 2px; } }

.unit_extra span {
  font-size: 8px;
  color: red; }

/*interjer and view*/
.front {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 479px) {
    .front {
      width: 98%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .front {
      width: 98%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .front {
      width: 98%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .front {
      width: 98%; } }

.front h2 {
  padding: 20px 0;
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px; }

.wrapper_front {
  width: 100%; }

ul.tabs_front {
  height: 25px;
  line-height: 25px;
  margin: 0 0 3px;
  list-style: none; }

ul.tabs_front li {
  float: left;
  margin-right: 1px;
  cursor: pointer; }

ul.tabs_front li a {
  display: block;
  padding: 0 13px 1px;
  margin-bottom: -1px;
  color: #444;
  text-decoration: none;
  cursor: pointer;
  background: #F9F9F9;
  border: 1px solid #EFEFEF;
  border-bottom: 1px solid #F9F9F9; }
  @media only screen and (max-width: 479px) {
    ul.tabs_front li a {
      padding: 0 3px;
      font-size: 11px; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    ul.tabs_front li a {
      padding: 0 3px;
      font-size: 11px; } }

ul.tabs_front li a:hover {
  color: #F70;
  padding: 0 13px;
  background: #FFFFDF;
  border: 1px solid #FFCA95; }
  @media only screen and (max-width: 479px) {
    ul.tabs_front li a:hover {
      padding: 0 3px; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    ul.tabs_front li a:hover {
      padding: 0 3px; } }

ul.tabs_front li.tab_active_front a {
  color: #444;
  background: #EFEFEF;
  padding: 0px 13px 2px;
  border: 1px solid #DDD;
  border-bottom: 1px solid #EFEFEF; }
  @media only screen and (max-width: 479px) {
    ul.tabs_front li.tab_active_front a {
      padding: 0 3px 2px; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    ul.tabs_front li.tab_active_front a {
      padding: 0 3px 2px; } }

.wrapper_front div#t2,
.wrapper_front div#t3 {
  display: none; }

.wrapper_front div#t1,
.wrapper_front div#t2,
.wrapper_front div#t3 {
  border: 1px solid #DDD;
  background: #EFEFEF;
  padding: 10px 12px; }

.wrapper_front div#t2 table,
.wrapper_front div#t3 table {
  border: 1px solid #fff; }

/*tables*/
#t2 table, #t3 table {
  font-size: 12px; }

@media only screen and (max-width: 479px) {
  #t2 > div, #t3 > div {
    max-width: 479px;
    overflow-y: scroll; } }

.marker {
  text-align: center; }

.footer {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  background-color: #F3F3F3; }
  @media only screen and (max-width: 479px) {
    .footer {
      width: 100%; } }
  @media only screen and (min-width: 480px) and (max-width: 599px) {
    .footer {
      width: 100%; } }
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    .footer {
      width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .footer {
      width: 100%; } }

.bottom_menu {
  border-top: 1px solid #E8E8E8; }

.bottom_menu ul {
  margin-left: 10px; }

.bottom_menu li {
  float: left;
  background-color: #F3F3F3;
  padding: 6px 10px; }

.bottom_menu ul li a {
  font-size: 11px;
  color: #9C9C9C; }

.bottom_menu ul li a:hover {
  color: orange; }

.bottom_menu ul span {
  float: left;
  display: block;
  width: 1px;
  height: 20px;
  margin-top: 4px;
  background-color: white; }

/*# sourceMappingURL=main.css.map */
